<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1>Welcome to HoMealy, <%= @user.name %></h1>
        <p>Thanks for joining us, have a great day !</p>
    </body>
</html>