<head>
    <% content_for :stylesheets do %>
        <%= stylesheet_link_tag 'index' %>
    <% end %>
</head>
<body>
    <div class="container">
        <div class="title"> HoMealy </div>
        <div class="subtitle"> Satiate your home cooked food cravings! </div>
        <div class="row">
            <div class="col-md-6 col-sm-5">
                <button type="button" class="btn btn-secondary" id="signupbutton" onclick="window.location.href='/users/new'">
                    SIGN UP
                </button>
            </div>
            <div class="col-md-6 col-sm-5">
                <button type="button" class="btn btn-secondary" onclick="window.location.href='/login'">
                    LOG IN
                </button>
            </div>
        </div>
    </div>
</body>