<!DOCTYPE html>
<html lang="en">
    <head>
    </head>
    <body>
        <h1> Welcome to HoMealy !</h1>
        <button type="button" class="btn btn-outline-secondary" id="signupbutton">
            <a href="users/new" id="signup"> SIGN UP </a>
        </button>
        <button type="button" class="btn btn-outline-secondary">
            <a href="/login"> LOG IN </a>
        </button>
    </body>
</html>