
<head> 
    <% content_for :stylesheets do %>
        <%= stylesheet_link_tag 'main' %>
    <% end %>
</head>
<body>
    <div class="container"> 
        <h1> Today's dishes for you </h1>
        <% @dishes.each do |dish| %>
            <div> 
                <%= dish.dishname %>
            </div>
        <% end %>
        <button type="button" class="btn btn-outline-secondary">
            <a href="/dishes/new" method="post"> ADD A DISH </a>
        </button>
    </div>
</body>