<h1> Dishes for you </h1>
<ul>
    <% @dishes.each do |dish| %>
        <li> 
            <%= dish.dishname %>
        </li>
    <% end %>
</ul>
<button type="button" class="btn btn-outline-secondary">
    <a href="/dishes/new" method="post"> ADD A DISH </a>
</button>