/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

body {
    /* background-image: url("wallpaper5.jpeg"); */
    background-image: url("wallpaper2.jpeg");
    /* background-size: cover; */
}

.fa {
    /* color: #4F4846; */
    color: gray;
    font-size: 30px;
    float: right;
}

.fa:hover {
    /* color: #e8cebf */
    color: lightgrey
}

.currentUser {
    /* color:#4F4846 !important; */
    color: white !important;
    font-size: 18px;
    font-weight: 600;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.navbar-custom {
    /* background-color: #ddaf94 !important; */
    background-color: black !important;
}

.logo {
    height: 35px;
    width: 35px;
}