body {
    margin-top: 150px;
    margin-bottom: 150px;
}

.container {  
    background-color: #e7f0f3;
    margin: auto;
    width: 60%;
    padding: 50px;
}

.dish{
    background-color: #ffffff;
    padding: 30px;
    margin-bottom: 20px;
}

.dishtitle{
    font-family: "Georgia", Times, serif;
    font-size: larger;
}

.dishdetails{
    font-family: "Georgia", Times, serif;
    font-size: medium;
}

button{
    margin: auto;
    width: 100%;
}

a {
    color: white;
    font-weight: 500;
    font-size: 16px
}

a:hover {
    color: lightgray;
}

input {
    width: 100%;
}

select {
    width: 100%;
}

#search {
    padding: 20px;
    margin-bottom: 30px;
    background-color: white;
}