body {
    margin-top: 150px;
    margin-bottom: 150px;
}

.container {  
    background-color: #e7f0f3;
    margin: auto;
    width: 60%;
    padding: 50px;
    padding-bottom: 0;
}

.dish{
    background-color: #ffffff;
    padding: 30px;
    margin-bottom: 20px;
}

.dishtitle{
    font-family: "Georgia", Times, serif;
    font-size: larger;
}

.dishdetails{
    font-family: "Georgia", Times, serif;
    font-size: medium;
}

.buy_button{
    text-align: center;
}

button{
    margin: auto;
    width: 100%;
}

.buy{
    width: 30% !important;
    margin: auto;
    text-align: center;
    background-color: grey;
}

a {
    color: white;
    font-weight: 500;
    font-size: 16px
}

a:hover {
    color: lightgray;
}

input {
    width: 100%;
}

.tab {
    overflow: hidden;
    /* border: 1px solid #ccc; */
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    width: 33.33% !important; 
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

select {
    width: 100%;
}

#search {
    padding: 20px;
    margin-bottom: 30px;
    background-color: white;
}